body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
}

.qr-code img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card-content h2 {
  color: #333;
  margin-bottom: 15px;
  width: 300px;
}

.card-content p {
  color: #666;
  line-height: 1.6;
}
